<%= form_with(model: consolidation, local: true) do |form| %>
  <% if consolidation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consolidation.errors.count, "error") %> prohibited this consolidation from being saved:</h2>

      <ul>
      <% consolidation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :geographic_annotation %>
    <%= form.text_field :geographic_annotation %>
  </div>

  <div class="field">
    <%= form.label :temporal_annotation %>
    <%= form.text_field :temporal_annotation %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :flickr_photosetid %>
    <%= form.text_field :flickr_photosetid %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_field :project %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
