<p id="notice"><%= notice %></p>

<h1>Consolidations</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Name</th>
      <th>Geographic annotation</th>
      <th>Temporal annotation</th>
      <th>Description</th>
      <th>Flickr photosetid</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consolidations.each do |consolidation| %>
      <tr>
        <td><%= consolidation.uuid %></td>
        <td><%= consolidation.name %></td>
        <td><%= consolidation.geographic_annotation %></td>
        <td><%= consolidation.temporal_annotation %></td>
        <td><%= consolidation.description %></td>
        <td><%= consolidation.flickr_photosetid %></td>
        <td><%= consolidation.project %></td>
        <td><%= link_to 'Show', consolidation %></td>
        <td><%= link_to 'Edit', edit_consolidation_path(consolidation) %></td>
        <td><%= link_to 'Destroy', consolidation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consolidation', new_consolidation_path %>
