<h2>
 <img src=<%= image_url('icons/ic_filter_none_black_48dp.png') %> />
 Material: <%= @material.uuid %>
</h2>
<hr />
<div class="btn-group">
    <%=
     button_to consolidation_url(:id => params[:cid]),
     {
      method: :get, :class => "btn btn-secondary",
      :style => "width: 90px; border-radius: 0 !important;",
      params: {:lid => params[:pid]}
     } do %>
     <img src=<%= image_url('icons/ic_reply_white_18dp.png') %>/>
    <% end %>
    <%=
     button_to edit_material_path(@material),
     {
      method: :get, :class => "btn btn-warning",
      :style => "width: 90px; border-radius: 0 !important;",
      params: {type: params[:type], cid: params[:cid], pid: params[:pid]}
     } do %>
     <img src=<%= image_url('icons/ic_create_white_18dp.png') %>/>
    <% end %>
</div>
<hr />

<div class="row">
  <div class="col-sm-12">
    <p><strong>Consolidation:</strong><%= @material.consolidation %></p>
    <p><strong>Name:</strong><%= @material.name %></p>
    <p><strong>Material number:</strong><%= @material.material_number %></p>
    <p><strong>Estimated period beginning:</strong><%= @material.estimated_period_beginning %></p>
    <p><strong>Estimated period peak:</strong><%= @material.estimated_period_peak %></p>
    <p><strong>Estimated period ending:</strong><%= @material.estimated_period_ending %></p>
    <p><strong>Latitude:</strong><%= @material.latitude %></p>
    <p><strong>Longitude:</strong><%= @material.longitude %></p>
    <p><strong>Altitude:</strong><%= @material.altitude %></p>
    <p><strong>Description:</strong><%= @material.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
   <hr />
   <h3>
     <img src=<%= image_url('icons/ic_my_library_books_black_36dp.png') %> />Files
   </h3>
   <hr />
   <%=
    button_to 'New File',
    new_fileobject_path,
    {
     method: :get,
     :class => "btn btn-success",
     :style => "width: 150px; border-radius: 0 !important;",
     params: {
      type: "material",
      consolidation: @material.consolidation,
      material: @material.uuid,
      mid: @material.id,
      cid: params[:cid],
      pid: params[:pid]
      }
     }
    %>
   <hr />
   
   <div><%= paginate @fileobjects %></div>
   
   <table>
     <thead>
       <tr>
         <th style="width: 100px">Modified</th>
         <th style="width: 200px">Name</th>
         <th style="width: 200px">Alias</th>
         <th style="width: 200px">Type</th>
         <th style="width: 200px">Status</th>
         <th style="width: 100px">Public</th>
         <th style="width: auto"></th>
       </tr>
     </thead>
     
     <tbody>
       <% @fileobjects.each do |fileobject| %>
         <tr class="zebra">
           <td><%= fileobject.modified_date %></td>
           <td><%= fileobject.file %></td>
           <td><%= fileobject.alias_name %></td>
           <td><%= fileobject.file_type %></td>
           <td><%= fileobject.status %></td>
           <td><%= fileobject.make_public %></td>
           <td>
             <div class="btn-group">
             <%= button_to fileobject,
              {method: :get, :class => "btn btn-primary",
               :style => "width: 50px; border-radius: 0 !important;",
               params: {type: "material", cid: params[:cid], pid: params[:pid]}} do %>
               <img src=<%= image_url('icons/ic_visibility_white_18dp.png') %>/>
              <% end %>
             <%= button_to edit_fileobject_path(fileobject),
              {method: :get, :class => "btn btn-warning",
               :style => "width: 50px; border-radius: 0 !important;",
               params: {type: "material", cid: params[:cid], pid: params[:pid]}} do %>
               <img src=<%= image_url('icons/ic_create_white_18dp.png') %>/>
              <% end %>
             <%= button_to fileobject,
              method: :delete, data: { confirm: 'Are you sure?' },
              :class => "btn btn-danger",
              :style => "width: 50px; border-radius: 0 !important;",
              params: {type: "material", mid: @material.id, cid: params[:cid], pid: params[:pid]} do %>
              <img src=<%= image_url('icons/ic_delete_white_18dp.png') %>/>
             <% end %>
            </div>
           </td>
         </tr>
       <% end %>
     </tbody>
   </table>
  </div>
</div>