<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <td rowspan="8"></td>
      <th style="width: 150px"><%= form.label :uuid %></th>
      <td style="width: 300px"><%= form.text_field :uuid, :class => "text_field", :readonly => true %></td>
    </tr>
    <tr><th><%= form.label :name %></th><td style="width: 300px"><%= form.text_field :name, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :title %></th><td style="width: 300px"><%= form.text_field :title, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :begining %></th><td style="width: 300px"><%= form.date_select :begining %></td></tr>
    <tr><th><%= form.label :ending %></th><td style="width: 300px"><%= form.date_select :ending %></td></tr>
    <tr><th><%= form.label :phase %></th><td style="width: 300px"><%= form.number_field :phase %></td></tr>
    <tr><th><%= form.label :introduction %></th><td style="width: 300px"><%= form.text_area :introduction, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :cause %></th><td style="width: 300px"><%= form.text_area :cause, :class => "text_field" %></td></tr>
    <tr>
      <td>
        <div class="field">
          <%= image_tag @project.cover.url if @project.cover? %>
          <%= form.label :cover %>
          <%= form.file_field :cover %>
          <%= form.hidden_field :cover_cache %>
        </div>
      </td>
      <th><%= form.label :created_by %></th><td style="width: 300px"><%= form.text_field :created_by, :class => "text_field",:value => current_user.username %></td></tr>
  </table>


  <div class="actions" style="text-align: right">
    <%= form.submit %>
  </div>
<% end %>
