
<h2>
 <img src=<%= image_url('icons/ic_language_black_48dp.png') %> />
 Projects
</h2>
<hr />
  <div class="btn-group">
   <%= button_to new_project_path,
    {method: :get, :class => "btn btn-success",
      :style => "width: 150px; border-radius: 0 !important;"} do%>
    <img src=<%= image_url('icons/ic_add_circle_outline_white_18dp.png') %>/> New Project
   <% end %>
  </div>
<hr />

<table>
  <thead>
    <tr>
      <th style="width: 100px"></th>
      <th style="width: 300px">Name</th>
      <th style="width: 300px">Title</th>
      <th style="width: 100px">Begining</th>
      <th style="width: 100px">Ending</th>
      <th style="width: 100px">Phase</th>
      <th style="width: auto"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="zebra">
        <td>
          <% if project.cover.url != nil %>
            <%= image_tag(project.cover.url, :width => "99px", :height => "66px") %>
          <% else %>
            <img src=<%= image_url('noimage.jpg') %> width="99px" height="66px" />
           <% end %>
        </td>
        <td><%= project.name %></td>
        <td><%= project.title %></td>
        <td><%= project.begining %></td>
        <td><%= project.ending %></td>
        <td><%= project.phase %></td>
        <td>
          <div class="btn-group">
          <%= button_to project,
           {method: :get, :class => "btn btn-primary",
            :style => "width: 50px; border-radius: 0 !important;"} do %>
            <img src=<%= image_url('icons/ic_visibility_white_18dp.png') %>/>
           <% end %>
          <%= button_to edit_project_path(project),
           {method: :get, :class => "btn btn-warning",
            :style => "width: 50px; border-radius: 0 !important;"} do %>
            <img src=<%= image_url('icons/ic_create_white_18dp.png') %>/>
           <% end %>
          <%= button_to project,
           method: :delete, data: { confirm: 'Are you sure?' },
           :class => "btn btn-danger",
           :style => "width: 50px; border-radius: 0 !important;" do %>
           <img src=<%= image_url('icons/ic_delete_white_18dp.png') %>/>
          <% end %>
         </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

