<h2>
 <img src=<%= image_url('icons/ic_account_balance_black_48dp.png') %> />
 Project: <%= @project.name %>
</h2>
<hr />
<div class="btn-group">
 <%= button_to projects_path,
  {method: :get, :class => "btn btn-secondary",
   :style => "width: 90px; border-radius: 0 !important;"} do %>
  <img src=<%= image_url('icons/ic_reply_white_18dp.png') %>/>
 <% end %>
 <%= button_to edit_project_path(@project),
  {method: :get, :class => "btn btn-warning",
   :style => "width: 90px; border-radius: 0 !important;",
   params: {uuid: params[:project], lid: params[:lid]}} do%>
   <img src=<%= image_url('icons/ic_create_white_18dp.png') %>/>
 <% end %>
</div>
<hr />

<div class="row">
  <div class="col-sm-6" style="text-align: center; vertical-align: middle">
    <% if @project.cover.url != nil %>
     <%= image_tag(@project.cover.url, :height => "300px", :width => "550px") %>
    <% else %>
     <img src=<%= image_url('noimage.jpg') %> height="300px" width="550px" />
    <% end %>
  </div>
  
  <div class="col-sm-6">
    <p><strong>Uuid:</strong><%= @project.uuid %></p>
    <p><strong>Title:</strong><%= @project.title %></p>
    <p><strong>Begining:</strong><%= @project.begining %></p>
    <p><strong>Ending:</strong><%= @project.ending %></p>
    <p><strong>Phase:</strong><%= @project.phase %></p>
    <p><strong>Introduction:</strong><%= @project.introduction %></p>
    <p><strong>Cause:</strong><%= @project.cause %></p>
    <p><strong>Created by:</strong><%= @project.created_by %></p>
  </div>
</div>


<hr />
<h3>
 <img src=<%= image_url('icons/ic_inbox_black_36dp.png') %> />
 Consolidations
</h3>
<hr />
<div class="btn-group">
 <%= button_to new_consolidation_path,
  {method: :get, :class => "btn btn-success",
  :style => "width: 200px; border-radius: 0 !important;",
  params: {project: @project.uuid, lid:@project.id}} do%>
  <img src=<%= image_url('icons/ic_add_circle_outline_white_18dp.png') %>/> New Consolidation
 <% end %>
</div>
<hr />
<table>
  <thead>
    <tr>
      <th style="width: 250px">Name</th>
      <th style="width: 200px">Geography</th>
      <th style="width: 200px">Temporal Info</th>
      <th style="width: 350px">Description</th>
      <th style="width: auto"></th>
    </tr>
  </thead>

 <tbody>
    <% @consolidations.each do |consolidation| %>
      <tr class="zebra">
        <td><%= consolidation.name %></td>
        <td><%= consolidation.geographic_annotation %></td>
        <td><%= consolidation.temporal_annotation %></td>
        <td><%= consolidation.description %></td>
        <td>
         <div class="btn-group">
          <%= button_to consolidation,
           {method: :get, :class => "btn btn-primary",
            :style => "width: 50px; border-radius: 0 !important;",
            params: {project: @project.uuid, lid:@project.id}} do %>
            <img src=<%= image_url('icons/ic_visibility_white_18dp.png') %>/>
           <% end %>
          <%= button_to edit_consolidation_path(consolidation),
           {method: :get, :class => "btn btn-warning",
            :style => "width: 50px; border-radius: 0 !important;",
            params: {project: @project.uuid, lid:@project.id}} do %>
            <img src=<%= image_url('icons/ic_create_white_18dp.png') %>/>
           <% end %>
          <%= button_to consolidation,
           method: :delete, data: { confirm: 'Are you sure?' },
           :class => "btn btn-danger",
           :style => "width: 50px; border-radius: 0 !important;" do %>
           <img src=<%= image_url('icons/ic_delete_white_18dp.png') %>/>
          <% end %>
         </div>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>