<h2>Sign up</h2>
<hr />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div style="text-align: center">
    <h4>User Information</h4>
    <p class="field">
      <%= f.text_field :surname, class: "text_field", placeholder: "Surname" %>
    </p>
    <p class="field">
      <%= f.text_field :firstname, class: "text_field", placeholder: "Firstname" %>
    </p>
    <p class="field">
      <%= f.text_field :affiliation, class: "text_field", placeholder: "Affiliation" %>
    </p>
  </div>
  
  <div style="text-align: center">
    <h4>Login Information</h4>
    <p class="field">
      <%= f.text_field :username, class: "text_field", placeholder: "Username" %>
    </p>
    
    <p class="field">
      <%= f.email_field :email, class: "text_field", autofocus: true, autocomplete: "email", placeholder: "E-Mail" %>
    </p>
  
    <p class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "text_field", autocomplete: "new-password", placeholder: "Password" %>
    </p>
  
    <p class="field">
      <%= f.password_field :password_confirmation, class: "text_field", autocomplete: "new-password", placeholder: "Password Confirmation" %>
    </p>
  </div>
  
  <div style="text-align: center">
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>