<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
-->
<%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>

<html>
  <head>
    <title>Server</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <% if user_signed_in? %>
          <p>
            <%= link_to root_path, :class => "linkage" do %><img src=<%= image_url('icons/ic_home_black_18dp.png') %>/> Home <% end %>
            <%= link_to edit_user_registration_path, method: :get, :class => "linkage" do %><img src=<%= image_url('icons/ic_account_circle_black_18dp.png') %>/> User <% end %> 
            <%= link_to destroy_user_session_path, method: :delete, :class => "linkage" do %><img src=<%= image_url('icons/ic_lock_black_18dp.png') %>/> Logout <% end %>
          </p>
        <% end %>
      </div>
      
      <div style="text-align: center">
        <p style="color: green"><%= notice %></p>
        <p style="color: green"><%= alert %></p>
      </div>
      
      <!-- Bootstrap core CSS -->
      <!-- Custom fonts for this template -->
      <!-- Custom styles for this template -->
      <!-- Navigation -->
      <%= yield %>
      <!-- Footer -->
      <!-- Bootstrap core JavaScript -->
      <!-- Plugin JavaScript -->
      <!-- Custom scripts for this template -->
    </div>
  </body>
</html>
