<%= form_with(model: fileobject, local: true) do |form| %>
  <% if fileobject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fileobject.errors.count, "error") %> prohibited this fileobject from being saved:</h2>

      <ul>
      <% fileobject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <td colspan="2">
        <div class="field" style="text-align: center">
          <%= image_tag(@fileobject.file.url, :height => "300px") %> <br />
          <%= form.file_field :file %>
          <%= form.hidden_field :file_cache %>
        </div>
      </td>
    </tr>
    <tr>
      <th style="width: 150px"><%= form.label :uuid %></th>
      <td style="width: 300px"><%= form.text_field :uuid, :class => "text_field", :readonly => true %></td>
    </tr>
    <tr><th><%= form.label :consolidation %></th><td style="width: 300px"><%= form.text_field :consolidation, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :material %></th><td style="width: 300px"><%= form.text_field :material, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :created_date %></th><td style="width: 300px"><%= form.date_select :created_date %></td></tr>
    <tr><th><%= form.label :modified_date %></th><td style="width: 300px"><%= form.date_select :modified_date %></td></tr>
    <tr><th><%= form.label :alias_name %></th><td style="width: 300px"><%= form.text_field :alias_name, :class => "text_field"%></td></tr>
    <tr><th><%= form.label :status %></th><td style="width: 300px"><%= form.text_field :status, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :make_public %></th><td style="width: 300px"><%= form.check_box :make_public, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :is_locked %></th><td style="width: 300px"><%= form.check_box :is_locked, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :source %></th><td style="width: 300px"><%= form.text_field :source, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :file_operation %></th><td style="width: 300px"><%= form.text_field :file_operation, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :operating_application %></th><td style="width: 300px"><%= form.text_field :operating_application, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :caption %></th><td style="width: 300px"><%= form.text_field :caption, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :description %></th><td style="width: 300px"><%= form.text_area :description, :class => "text_field" %></td></tr>
    <tr><th><%= form.label :flickr_photoid %></th><td style="width: 300px"><%= form.text_field :flickr_photoid, :class => "text_field" %></td></tr>
  </table>

  <div class="actions" style="text-align: right">
    <%= form.submit %>
  </div>
<% end %>
