<h1>Files</h1>
<hr />
<%= button_to 'New File', new_fileobject_path, {method: :get, :class => "btn btn-success", :style => "width: 150px; border-radius: 0 !important;"} %>
<hr />

<table>
  <thead>
    <tr>
      <th style="width: 100px">Modified</th>
      <th style="width: 200px">Name</th>
      <th style="width: 200px">Alias</th>
      <th style="width: 200px">Type</th>
      <th style="width: 200px">Status</th>
      <th style="width: 100px">Public</th>
      <th style="width: auto"></th>
    </tr>
  </thead>

  <tbody>
    <% @fileobjects.each do |fileobject| %>
      <tr class="zebra">
        <td><%= fileobject.modified_date %></td>
        <td><%= fileobject.file %></td>
        <td><%= fileobject.alias_name %></td>
        <td><%= fileobject.file_type %></td>
        <td><%= fileobject.status %></td>
        <td><%= fileobject.make_public %></td>
        <td><div class="btn-group">
          <%= button_to 'Show', fileobject, {method: :get, :class => "btn btn-primary", :style => "width: 90px; border-radius: 0 !important;"} %>
          <%= button_to 'Edit', edit_fileobject_path(fileobject), {method: :get, :class => "btn btn-warning", :style => "width: 90px; border-radius: 0 !important;"} %>
          <%= button_to 'Delete', fileobject, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "width: 90px; border-radius: 0 !important;" %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

